<?xml version="1.0" ?>
<launch>
    <arg name="rviz"               default="true" />
    <arg name="test"               default="true"/>
    <arg name="description_name"   default="legged_robot_description"/>
    <arg name="urdfFile"          default="$(find ocs2_pros_gazebo2)/urdf/pros_walker.urdf"/>
    <group if="$(arg rviz)">
      <param name="robot_description" textfile="$(arg urdfFile)"/>
      <arg name="rvizconfig" default="$(find ocs2_pros_gazebo2)/rviz/legged_robot.rviz" />
      <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
      <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    </group>


</launch>